/*css파일 추가*/

.bg{
    background-image:url('/assets/images/scars_and_flowers.jpeg');
    background-repeat:no-repeat;
    background-size:cover;
    width: 100vw; /* 1vw는 디바이스 가로의 1%를 의미한다.*/
    height: 100vh;
}

.container{
    width: 100vw;
    height: 100vh;
}
