{{define "init"}}
{{template "header"}}
<body>
    <header>
        <div class="navbar">
            <div class="logo"><a href="#">BAE SEO YOUNG</a></div>
            <ul class="links">
                <li><a href="hero">Home</a></li>
                <li><a href="services">services</a></li>
                <li><a href="project">project</a></li>
                <li><a href="article">article</a></li>
                <li><a href="contact">contact</a></li>
            </ul>
            <a href="#" class="action_btn">Get Started</a>
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>

        <div class="dropdown_menu">
            <li><a href="hero">Home</a></li>
            <li><a href="services">services</a></li>
            <li><a href="project">project</a></li>
            <li><a href="article">article</a></li>
            <li><a href="contact">contact</a></li>
            <li><a href="#" class="action_btn">Get Started</a></li>
        </div>
    </header>

    <main>
        <section id="hero">
            <h1>Welcome</h1>
            <p>
                Freedom in the movement as you are
            </p>
        </section>
    </main>
{{template "footer"}}

<script>
    const toggleBtn = document.querySelector('.toggle_btn')
    const toggleBtnIcon = document.querySelector('.toggle_btn i')
    const dropDownMenu = document.querySelector('.dropdown_menu')

    toggleBtn.onclick = function () {
        dropDownMenu.classList.toggle('open')
        const isOpen = dropDownMenu.classList.contains('open')

        toggleBtnIcon.classList = isOpen
        ? 'fa-solid fa-xmark'
        : 'fa-solid fa-bars'
    }
</script>
</body>
<!--load bootstrap js file-->
<script src="/assets/bootstrap-5.0.2/js/bootstrap.min.js"></script>
</html>
{{end}}