{{define "init"}}
{{template "header"}}
<body>
    <header>
        <div class="navbar">
            <div class="logo"><a href="#">BAE SEO YOUNG</a></div>
            <ul class="links">
                <li><a href="about">about</a></li>
                <li><a href="services">services</a></li>
                <li><a href="project">project</a></li>
                <li><a href="article">article</a></li>
                <li><a href="contact">contact</a></li>
            </ul>
            <a href="#" class="action_btn">Get Started</a>
            <div class="toggle_btn">
                <i class="fa-sharp fa-light fa-bars" style="color: #000000;"></i>
            </div>
        </div>
    </header>
{{template "footer"}}
</body>
<!--load bootstrap js file-->
<script src="/assets/bootstrap-5.0.2/js/bootstrap.min.js"></script>
</html>
{{end}}